html {
    display: grid;
    grid-template-columns: minmax(260px, 600px);
    justify-content: center;
}

body {
    background-color: #3498db;
    color: white;
}

p.grantln {
    font-family: 'Roboto', sans-serif;
}
